#############
## Idea
#############
target/
.idea/
.idea
.repository/
#*.iml
#*.iws
#*.jrtc
#*.java
*.class
#*.info
#*.properties
*.jar

#/1.JavaSyntax/
#/2.JavaCore/
#/3.JavaMultithreading/
#/4.JavaCollections/
#/5.OnlineInternship/
#/8.Games/
/out/
#/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
/ForTest
file1.txt
file2.txt
Leela.html
ome similarities to the ideas behind the original EJB spec and what is being done with Microservices, there are many differences.
orciMehthtiWvice pattern, transaction management is simplified by minimizing your the scope and never having transactions cross Microservice boundaries.
